<div class="row">
    <h2>{{account.name}}</h2>
    <div class="col-md-2" ng-hide="loading">
        <div class="nav navbar-default" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/editaccount">Edit Account</a>
                </li>
                <li>
                    <a href="#/addnote">Add Note</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-6 notes">
        <div infinite-scroll="loadMoreNotes()" infinite-scroll-disabled="loadingNotes || noMoreNotes" infinite-scroll-distance="1" infinite-scroll-parent="true">
            <div ng-repeat='note in notes'>
                <p>{{note.comment}}</p>
                <span>{{note.timeSinceCreated}} ago</span>
            </div>
        </div>
    </div>
</div>