<div class="row">
    <div class="col-md-4">
        <h2>Fill Tank</h2>
        <label>Contents Name</label>
        <input type="text" class="form-control" ng-model="transfer.name" placeholder="Enter a name for the contents" required/>
        <label>Gallons To Add</label>
        <input class="form-control" type="number" ng-model="transfer.gallons" pattern="\d+" placeholder="Number of gallons of content to add"/>
        <div ng-show="tank[0].contents.id !== null">
            <label>Analysis Details</label>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-model="analysis" btn-radio="'keep'">Keep Current</button>
                <button type="button" class="btn btn-primary" ng-model="analysis" btn-radio="'edit'">Edit</button>
            </div>
        </div>
        <div ng-show="analysis === 'edit' || tank[0].contents.id === null">
            <label>State</label>
            <select class="form-control" ng-model="transfer.state" ng-options="s.name for s in states"></select>
            <label>pH</label>
            <input class="form-control" type="number" ng-model="transfer.ph" pattern="\d+" placeholder="pH level of contents"/>
            <label>SO2</label>
            <input class="form-control" type="number" ng-model="transfer.so2" pattern="\d+" placeholder="SO2 level of contents"/>
            <label>% Alcohol</label>
            <input class="form-control" type="number" ng-model="transfer.alcohol" pattern="\d+" placeholder="% Alcohol of contents"/>
            <label>TA</label>
            <input class="form-control" type="number" ng-model="transfer.ta" pattern="\d+" placeholder="Titratable acidity of contents"/>
            <label>VA</label>
            <input class="form-control" type="number" ng-model="transfer.va" pattern="\d+" placeholder="Volatile acidity of contents"/>
            <label>MA</label>
            <input class="form-control" type="number" ng-model="transfer.ma" pattern="\d+" placeholder="Malic acid of contents"/>
            <label>RS</label>
            <input class="form-control" type="number" ng-model="transfer.rs" pattern="\d+" placeholder="Reducing sugar of contents"/>
        </div>
        <br />
        <model-state-error-display errors=errors></model-state-error-display>
        <button class="btn btn-lg btn-primary" ng-click="fill()">Fill</button>
        <a href="#/transfers" class="btn btn-lg btn-primary">Cancel</a>
    </div>
</div>