<div class="row">
    <h2>Tank Setup</h2>
    <div class="col-md-2" ng-hide="loading">
        <div class="list-group">
            <a href="#/addtank" class="list-group-item">Add Tank</a>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-7" ng-hide="loading">
        <div class="panel panel-primary on-top">
          <div class="panel-heading" ng-click="hideHints = !hideHints">How do I use this page?</div>
          <ul class="list-group" collapse="hideHints">
              <li class="list-group-item">Click and drag tanks around to change their position. Make it look like your actual winery!</li>
            <li class="list-group-item">Click an individual tank for more options relating to it.</li>
              <li class="list-group-item">Click 'Add Tank' to add an entirely new tank to the floor.</li>
            <li class="list-group-item">Use your mousewheel to zoom in and out, click and drag the floor to move around.</li>
          </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 tankCanvasRow">
        <tank-canvas tanks=tanks toggle-move-tanks=true></tank-canvas>
    </div>
</div>