<div class="row">
    <h2>Tank Transfers</h2>
    <div class="col-md-3" ng-hide="loading">
        <button class="btn-lg btn-primary" ng-click="externalSelected()">External</button>
    </div>
    <div class="col-md-3 col-md-offset-6" ng-hide="loading">
        <div class="panel panel-primary">
          <div class="panel-heading" ng-click="hideHints = !hideHints">How do I use this page?</div>
          <ul class="list-group" collapse="hideHints">
              <li class="list-group-item">To transfer between tanks, click the tank to transfer from, and then the tank to transfer to.</li>
              <li class="list-group-item">Click 'External' and then click a tank to fill that tank.</li>
              <li class="list-group-item">Click a tank and then click 'External' to empty that tank.</li>
              <li class="list-group-item">Use your mousewheel to zoom in and out, click and drag the floor to move around.</li>
          </ul>
        </div>
    </div>
</div>
<div class="row transferMessage">
    <div class="col-md-12">
        <div ng-repeat="alert in transferMessages">
            <alert type="alert.type" close="endTransfer()">{{alert.msg}}</alert>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 tankCanvasRow">
        <tank-canvas tanks=tanks toggle-move-tanks=false></tank-canvas>
    </div>
</div>